.menu_section{
	.menu_section_holder{
		 background-color: @color_primary; padding: 10px;
		 .menu_wrapper{
		 	border: 1px solid #FFF; padding: 20px; margin-bottom: 10px; background-color: #fff;
		 	&:hover{
		 		border: 1px solid @color_menu_hover;
		 	}

		 	.menu_name{
		 		text-align: center; font-weight: bold; cursor: pointer;
		 	}
		 }
	}
}