{% verbatim %}
	<div class="row">
		<div class="col-xs-12">
			<h3 style="color: #00BCD4">Accounts <span style="color: #000;" ng-if="year != null">({{ year }}-{{ year+1 }})</span></h3>
			<ul class="list-group">
				<li class="list-group-item clearfix hand" ng-repeat="account in accountList" ng-click="redirectTo(account);">
					<span>{{account.account_name}}</span>
					<span class="pull-right" style="color: red;">{{account.amount}}</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">

			<uib-pagination boundary-links="true" total-items="bigTotalItems" ng-model="bigCurrentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()" ng-model="bigCurrentPage" max-size="maxSize" boundary-link-numbers="true"></uib-pagination>

		</div>
	</div>
{% endverbatim %}
