{% verbatim %}
<style>
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin: 0;
	}

	.hand {
		cursor: hand;
		cursor: pointer;
	}
</style>
<div class="container" id="accounting">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3" style="background-color: #bebebe; padding: 15px;">
			<!-- <pre>{{ $data | json }}</pre> -->
			<h4>datepicker</h4>
			<input type="date" class="form-control">
			<div class="row" style="margin-top: 15px;">
				<div class="col-xs-12">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="item in tranList track by $index">
							<div class="row">

								<div class="col-xs-3">
									<span>{{item.is_debit}}</span>
								</div>
								<div class="col-xs-8">
									<span>{{item.amount}}</span>
								</div>
								<div class="col-xs-1">
									<i class="fa fa-minus-circle fa-lg hand" ng-click="removeEntry($index);"></i>
								</div>

							</div>

						</li>
					</ul>
				</div>
			</div>
			<div class="row" style="margin-top: 20px;">

				<div class="col-xs-3">
					<label></label>
					 <!-- ng-change="tranType == tranTypeFilter"  -->
					<input class="form-control" type="text" ng-model="tranType" style="margin-top: 5px;" ng-change="tranType = tranTypeFilter(tranType);">
				</div>
				<div class="col-xs-4">
					<label for="">Credit</label>
					<input type="number" ng-model="credit" class="form-control" ng-disabled="inputTabs">
				</div>
				<div class="col-xs-4">
					<label for="">Debit</label>
					<input type="number" ng-model="debit" class="form-control" ng-disabled="!inputTabs">
				</div>
				<div class="col-xs-1">

					<div class="row" style="margin-top: 30px;">
						<div class="col-xs-6" style="padding: 0px;">
							<i class="fa fa-plus-circle fa-lg hand" ng-click="addEntry();"></i>
						</div>
					</div>

				</div>
			</div>
			<div class="row" style="margin-top: 20px;" ng-show="tranList.length">
				<div class="col-xs-12 text-center">
					<button class="btn btn-info">Save</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endverbatim %}
