{% extends 'html_templates/index.html' %}

{% block pageContainer %}

{% load staticfiles %}
{% verbatim %}
<style>
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin: 0;
	}
</style>
<div class="container" id="accounting">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3" style="background-color: #bebebe; padding: 15px;">
			<!-- <pre>{{ $data | json }}</pre> -->
			<h4>datepicker</h4>
			<input type="date" class="form-control">
			<div class="row" style="margin-top: 15px;">
				<div class="col-xs-12">
					<ul class="list-group">
						<li class="list-group-item" v-for="item in tranList">
							<div class="row">

								<div class="col-xs-3">
									<span>{{item.tranType}}</span>
								</div>
								<div class="col-xs-6">
									<span>{{item.credit}}</span>
									<span>{{item.debit}}</span>
								</div>
								<div class="col-xs-3">
									<i class="fa fa-minus-circle fa-lg" @click="removeEntry(item)"></i>
								</div>

							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="row" style="margin-top: 20px;">

				<div class="col-xs-3">
					<label></label>
					<input class="form-control" type="text" v-model="tranType | tranTypeFilter" v-change="tranType == tranTypeFilter" style="margin-top: 5px;">
				</div>
				<div class="col-xs-4">
					<label for="">Credit</label>
					<input type="number" v-model="credit" class="form-control" :disabled="inputTabs">
				</div>
				<div class="col-xs-4">
					<label for="">Debit</label>
					<input type="number" v-model="debit" class="form-control" :disabled="!inputTabs">
				</div>
				<div class="col-xs-1">

					<div class="row" style="margin-top: 30px;">
						<div class="col-xs-6" style="padding: 0px;">
							<i class="fa fa-plus-circle fa-lg" @click="addEntry"></i>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
{% endverbatim %}
{% endblock %}
