{% extends 'html_templates/user/accounting.html' %}

{% block childPageContainer %}

{% load staticfiles %}
{% verbatim %}
<!-- <div class="container"> -->
	<div class="row">
		 <div class="col-sm-12">
		 	<div class="row">
		 		<div class="col-xs-6">
		 			<h5>+Account</h5>
		 			<input type="text" class="form-control">
		 		</div>
		 		<div class="col-xs-6">
		 		<h5>+Ammount</h5>
		 			<input type="text" class="form-control">
		 		</div>
		 		<div class="col-xs-12">
		 			<button class="btn btn-primary" style="width: 100%">Amm More Accounts</button>
		 		</div>
		 	</div>
		 	<div class="row">
		 		<div class="col-xs-12">
		 		<h5 style="text-align: center; ">Description</h5>
		 		<textarea  rows="3" class="form-control" style="margin-top: 10px;"></textarea>
		 		<button class="btn btn-primary" style="width: 100%">Submit</button>
		 		</div>
		 	</div>
		 </div>
	</div>
<!-- </div> -->
{% endverbatim %}
{% endblock %}
