{% verbatim %}
<style>
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin: 0;
	}

	.hand {
		cursor: hand;
		cursor: pointer;
	}
</style>
<!-- <div class="container" id="accounting"> -->
	<div class="row">
		<div class="col-sm-12">
			<!-- <pre>{{ $data | json }}</pre> -->

			<div class="row" style="margin-top: 15px;">
				<div class="col-xs-12">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="item in tranList track by $index">
							<div class="row">

								<div class="col-xs-3">
									<span>{{item.is_debit}}</span>
								</div>
								<div class="col-xs-5">
									<span>{{item.account.account_name}}</span>
								</div>
								<div class="col-xs-3">
									<span>{{item.amount}}</span>
								</div>
								<div class="col-xs-1">
									<i class="fa fa-minus-circle fa-lg hand" ng-click="removeEntry($index);"></i>
								</div>

							</div>

						</li>
					</ul>
				</div>
			</div>

			<div class="row" style="margin-top: 15px;">
				<div class="col-xs-6">
					<h4>Date</h4>
					<input type="date" class="form-control" ng-model="date" id="datePicker">
				</div>
				<div class="col-xs-6">
					<h4>Transaction Mode</h4>
					<select class="form-control" ng-model="transactionMode" ng-options="mode.choice_name for mode in transactionModeList">
						<option value="">Select</option>
					</select>
				</div>

			</div>

			<form ng-submit="addEntry();">
				<div class="row" style="margin-top: 20px;">

					<div class="col-xs-2">
						<label></label>
						 <!-- ng-change="tranType == tranTypeFilter"  -->
						<input class="form-control" type="text" ng-model="tranType" style="margin-top: 5px;" ng-change="tranType = tranTypeFilter(tranType);" id="tranType">
					</div>
					<div class="col-xs-3">
						<label for="">Account Name</label>
						<select class="form-control" ng-model="account" ng-options="account.account_name for account in accountList">
							<option value="">Select</option>
						</select>
					</div>
					<div class="col-xs-3">
						<label for="">Credit</label>
						<input type="number" ng-model="credit" class="form-control" ng-disabled="inputTabs">
					</div>
					<div class="col-xs-3">
						<label for="">Debit</label>
						<input type="number" ng-model="debit" class="form-control" ng-disabled="!inputTabs">
					</div>
					<div class="col-xs-1">

						<div class="row" style="margin-top: 30px;">
							<div class="col-xs-6" style="padding: 0px;">
								<i class="fa fa-plus-circle fa-lg hand" ng-click="addEntry();"></i>
								<button style="display: none;"></button>
							</div>
						</div>

					</div>
				</div>
			</form>
			<div class="row" style="margin-top: 20px;" ng-show="tranList.length">
				<div class="col-xs-9 text-center">
					<textarea class="form-control" placeholder="Add Description here ..." style="resize: none;" ng-model="description"></textarea>
				</div>
				<div class="col-xs-3">
					<button class="btn btn-info form-control" ng-click="saveTransactionEntry();">Save</button>
				</div>
			</div>
		</div>
	</div>
<!-- </div> -->
{% endverbatim %}
