<style>
</style>
{% verbatim %}

	<div class="row">
		<div class="col-xs-12">
			<div class="" ng-if='yearList.length == 0'>
				<h3>It seems you don't have any financial accounting year</h3>
				<p>Please <a ng-click="openYearModal();" style="text-decoration: none;">click here</a> to add financial accounting year</p>
			</div>
			<ul class="list-group" ng-if='yearList.length != 0'>
				<li class="list-group-item hand clearfix" ui-sref="account({edit: false, date: date.start_date})" ng-repeat="date in yearList" ui-sref-opts="{reload: true}">
					<span>{{date.start_date | date: 'dd/MMM/yyyy'}}</span>
					<span class="pull-right">{{date.end_date | date: 'dd/MMM/yyyy'}}</span>
				</li>
			</ul>
		</div>
	</div>

{% endverbatim %}
