{% verbatim %}
<!-- <div class="container" id="newUserAccount"> -->
	<div class="row">
		<div class="col-xs-12">

			<form ng-submit="createNewUser();" novalidate>
			<div style="">

				<h5>New Account Name*</h5>
				<input type="text" name= "name" ng-model="userInfo.account_name" class="form-control" placeholder="Name" required>

				<h5>Alias for Account</h5>
				<input type="text"  ng-model="userInfo.alias" class="form-control" placeholder="Alias Name">


				<h5>Group Name*</h5>
				<select class='form-control' ng-model="userInfo.group" ng-options="option.choice_name for option in accountGroupList track by option.id">
					<option value=''>Select</option>
				</select>

				<hr>

				<h5 style="font-weight: bold;">Personal Info</h5>
				<h5>Name</h5>
				<div class="row">
					<div class="col-xs-6">
						<input type="text" ng-model="userInfo.firstName"class="form-control" placeholder="First Name">
					</div>
					<div class="col-xs-6">
						<input type="text" ng-model="userInfo.lastName" class="form-control" placeholder="Last Name">
					</div>
				</div>
				<h5>Address</h5>
				<input type="text" ng-model="userInfo.addressLine1" class="form-control" placeholder="Address Line 1">
				<input type="text" ng-model="userInfo.addressLine2" class="form-control" placeholder="Address Line 2">
				<div class="row">
					<div class="col-xs-6">
						<input type="text" ng-model="userInfo.city" class="form-control" placeholder="City">
					</div>
					<div class="col-xs-6">
						<input type="text" ng-model="userInfo.state" class="form-control" placeholder="State">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<input type="text" ng-model="userInfo.country"class="form-control" placeholder="Country">
					</div>
					<div class="col-xs-6">
						<input type="text" ng-model="userInfo.pincode"class="form-control" placeholder="Pin">
					</div>
				</div>

				 <h5>Email</h5>
				<input type="text" ng-model="userInfo.email" class="form-control" placeholder="Email">
				<h5>Mobile Number</h5>
				<input type="text" ng-model="userInfo.mobileNo0" class="form-control" placeholder="Mobile Number">
				<h5>Alternate Mobile Number</h5>
				<input type="text" ng-model="userInfo.mobileNo1" class="form-control" placeholder="Alternate Mobile Number">
				<hr>
				<h5>Opening Balance</h5>
				<input type="text" ng-model="userInfo.openingBalance" class="form-control" placeholder="Opening Balance">

				<h5>Account Type</h5>
				<select ng-model="userInfo.accounttype" class="form-control" ng-options="account.choice_name for account in accountTypeList track by account.id">
					<option value="">Select</option>
				</select>

				<div class="row">
					<div class="col-xs-6">
						<h5>Start Date</h5>
						<input type="date" class="form-control" ng-model="startDate">
					</div>
					<div class="col-xs-6">
						<h5>End Date</h5>
						<input type="date" class="form-control" ng-model="endDate">
					</div>
				</div>

				<h5>Period</h5>
				<input type="text" class="form-control" ng-model="userInfo.duration" disabled>

				<!-- <span>Selected: {{ selected }}</span> -->

			</div>

			<hr>

			<button ng-show='!editMode' class="btn btn-primary" style="width: 100%; margin-bottom: 10px;"> Add User </button>

			<button ng-show='editMode' class="btn btn-primary" style="width: 100%; margin-bottom: 10px;"> Save </button>
			</form>

		</div>
	</div>
<!-- </div> -->
{% endverbatim %}
