.mixin_primary_btn {
  background-color: #338ffc;
  border: 1px solid #338ffc;
  color: #FFF;
}
.mixin_primary_btn:hover {
  background-color: #5ea3fc;
  border: 1px solid #338ffc;
  color: #FFF;
}
.mixin_cover_img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.mixin_input_border_color {
  border-color: #cccccc !important;
  height: 50px;
  box-shadow: none;
}
.mixin_input_border_color:hover {
  border-color: #2b93d8 !important;
  box-shadow: 1px solid #FFF!important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset, 0 0 0px rgba(225, 225, 225, 0.6) !important;
}
.mixin_input_border_color:focus {
  border-color: #2b93d8 !important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset, 0 0 0px rgba(225, 225, 225, 0.6) !important;
}
.textarea_border_color {
  border-color: #cccccc !important;
  box-shadow: none;
}
.textarea_border_color:hover {
  border-color: #2b93d8 !important;
  box-shadow: 1px solid #FFF!important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset, 0 0 0px rgba(225, 225, 225, 0.6) !important;
}
.textarea_border_color:focus {
  border-color: #2b93d8 !important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset, 0 0 0px rgba(225, 225, 225, 0.6) !important;
}
.mixin_pointer {
  cursor: hand;
  cursor: pointer;
}
.mixin_pointer {
  cursor: hand;
  cursor: pointer;
}
.section_existing_acc .header_section {
  background-color: #fb4349;
  padding: 10px;
}
.section_existing_acc .header_section .name {
  color: #FFF;
}
.section_existing_acc .section_body {
  background-color: #f1f1f1;
  padding: 10px;
  height: 400px;
  overflow-x: scroll;
}
.section_existing_acc .section_body .account_date {
  padding: 15px;
  margin-bottom: 10px;
  background-color: #fff;
  text-align: center;
  border: 1px solid #FFF;
}
.section_existing_acc .section_body .account_date:hover,
.section_existing_acc .section_body .account_date:focus {
  border: 1px solid #fb4349;
}
.section_existing_acc .section_body .account_date .number {
  font-weight: bold;
  color: #fb4349;
}
.section_existing_acc .section_body .account_date .units {
  font-size: 0.8em;
}
.section_existing_acc .section_body .account_list {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #fff;
}
.section_existing_acc .section_body .account_list:hover {
  border: 1px solid #fb4349;
  cursor: hand;
  cursor: pointer;
}
.section_existing_acc .section_body .account_list .time {
  text-align: center;
}
.section_existing_acc .section_body .account_list .time .hrs {
  margin-bottom: 0px;
  font-weight: bold;
  color: #000;
}
.section_existing_acc .section_body .account_list .time .mins {
  font-size: 0.8em;
  color: #bebebe;
}
.section_existing_acc .section_body .account_list .acc_holder_name {
  color: #fb4349;
  font-size: 1.2em;
  text-transform: capitalize;
}
.user_registrationForm .form_bg_clr {
  background-color: #FFF;
  color: #404952;
  padding: 10px 20px 20px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.user_registrationForm .form_bg_clr h5 {
  margin-bottom: 5px;
  font-weight: bold;
  margin-top: 15px;
}
.user_registrationForm .form_bg_clr .custom_input_registrationForm_user {
  border-color: #cccccc !important;
  height: 50px;
  box-shadow: none;
}
.user_registrationForm .form_bg_clr .custom_input_registrationForm_user:hover {
  border-color: #2b93d8 !important;
  box-shadow: 1px solid #FFF!important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset, 0 0 0px rgba(225, 225, 225, 0.6) !important;
}
.user_registrationForm .form_bg_clr .custom_input_registrationForm_user:focus {
  border-color: #2b93d8 !important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset, 0 0 0px rgba(225, 225, 225, 0.6) !important;
}
.user_registrationForm .form_bg_clr .input_margin_top {
  margin-top: 10px;
}
/*  ++++++++++++++++++++++++++++++++++++++++++++++++++++
	++++++++++++++++  Responsive +++++++++++++++++++++++
	++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 768px) {
  input {
    margin-bottom: 10px;
  }
  .input_margin_top {
    margin-top: 0px;
  }
}
.menu_section .menu_section_holder {
  background-color: #f1f1f1;
  padding: 10px;
}
.menu_section .menu_section_holder .menu_wrapper {
  border: 1px solid #FFF;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #fff;
}
.menu_section .menu_section_holder .menu_wrapper:hover {
  border: 1px solid #404952;
}
.menu_section .menu_section_holder .menu_wrapper .menu_name {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
