.menu_section .menu_section_holder {
  background-color: #f1f1f1;
  padding: 10px;
}
.menu_section .menu_section_holder .menu_wrapper {
  padding: 20px;
  margin-bottom: 10px;
  background-color: #fff;
}
.menu_section .menu_section_holder .menu_wrapper .menu_name {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
