<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			Mudra
		</title>

		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/expensesManager.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-ui-notification/dist/angular-ui-notification.min.css' %}">
		<link href="{% static 'bower_components/font-awesome-less/css/font-awesome.css' %}" rel="stylesheet">

		<style>
			.cover_bg {
				background: url(/static/img/bg.jpg) no-repeat center center fixed;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}
		</style>
	</head>
	<body class="cover_bg" ng-app="userApp" ng-controller="userCtrl">

	<div id="wrapper">

		<nav class="navbar navbar-inverse" role="navigation" style="margin-bottom: 40px;">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/menu/">
					<i class="fa fa-database fa-fw"></i>
					Mudra
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li class="">
						<a href="/myAcc/" style="text-decoration: none;">MyAcc</a>
					</li>
					<li class="">
						<a href="/menu/" style="text-decoration: none;">menu</a>
					</li>
					<li class="">
						<a ui-sref="accountingApp" style="text-decoration: none;">accounting</a>
					</li>
					<li class="">
						<a href="/newUserAccount/" style="text-decoration: none;">newUserAccount</a>
					</li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Log Out</a></li>
				</ul>
			</div>
		</nav>

		<div id="content" style="">
			<div ui-view></div>
		</div>

		<div id="footer">
			{% include 'html_templates/footer.html'%}
		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="{% static 'jquery.min.js' %}"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
		<script src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
		<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'bower_components/angular-ui-notification/dist/angular-ui-notification.min.js' %}"></script>

		<script src="{% static 'js/user/userApp.js' %}"></script>
		<script src="{% static 'js/user/userServices.js' %}"></script>
		<script src="{% static 'js/user/userCtrl.js' %}"></script>
		<script src="{% static 'js/user/controller/myAccMasterCtrl.js' %}"></script>
		<script src="{% static 'js/user/controller/accountingAppCtrl.js' %}"></script>

		<script>
			$(function(){
				var height = $('#footer').height();
				$('#content').css('padding-bottom', height+20);
			});
		</script>






	</div>
	</body>
</html>
