<html>
<head>
	<title>Register User</title>
	<link href="/static/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div class="container">
		<div class="row">
		
			<div class="col-sm-6 col-md-6" style="background-color: rgba(0,0,0,0.2); padding: 10px; border-radius: 5px;">

				<form role="form" action="/register_auth/" method="POST" enctype="multipart/form-data">

						<div align="center">
						<label for="name">User Registration Form</label><br>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<label for="name">First Name</label>
								<input type="text" class="form-control" name="first_name" placeholder="Enter First Name"><br>

								<label for="name">Username</label>
								<input type="text" class="form-control" name="username" placeholder="Enter username"><br>


								<label for="name">Email</label>
								<input type="text" class="form-control" name="email" placeholder="Enter Email">
									
								<label for="address"><br>Address</label>
								<input type="text" class="form-control" name="address" placeholder="Enter Address"><br>

								<label for="state">State</label>
								<input type="text" class="form-control" name="state" placeholder="Enter State Name"><br>
							</div>

					
							<div class="col-sm-6">
								<label for="last_name">Last Name</label>
								<input type="text" class="form-control" name="last_name" placeholder="Enter Last Name"><br>

								<label for="password">Password</label>
								<input type="password" class="form-control" name="password" placeholder="Enter Password"><br>
							
								<label for="contact_no">Contact Number</label>
								<input type="text" class="form-control" name="contact_no" placeholder="Enter Contact Number"><br>
								
								<label for="city">City</label>
								<input type="text" class="form-control" name="city" placeholder="Enter City Name"><br>

								<label for="pin_code">Pin Code</label>
								<input type="text" class="form-control" name="pin_code" placeholder="Enter Pin Code">

							</div>
						</div>

						<!--<label for="name"><br><br>Accounts</label>
						<input type="text" class="form-control" name="account_type" placeholder="Enter Account Type">
						
						<label for="inputfile"><br><br>Upload here</label>

						<input type="file" id="inputfile" name="file"><br>-->

						<button type="submit" class="btn btn-success">Save Details</button>

					</div>

				</form>

			</div>
		
	    </div>
</div>
<script src="/static/jquery.js"></script>
<script src="/static/bootstrap.min.js"></script>
</body>
</html>